.container {
  width: 100%;
  top: 20%;
  display: flex;
  justify-content: center;
  position: absolute;
  text-align: center;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}
